$color-primary: #3b75a2;
$color-primary-hover: #285e8e;
$color-primary-disabled: #8ea5ba;
$color-black: #212529;
$color-white: #fff;
$color-dark-white: #f5f5f5;
$color-light-gray: #d1d1d1;
$color-gray: #acacac;
$box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.08);
