@import '../../../shared/options/variables.scss';

.calculator {
  width: 438px;
  background-color: $color-dark-white;
  border-radius: 6px;
  padding: 42px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .actionDisplay {
    height: 47px;
    font-size: 40px;
    font-weight: 300;
    line-height: 46.92px;
    text-align: right;
    color: $color-gray;
    text-align: right;
    width: 100%;
    margin-bottom: 16px;
  }

  .display {
    height: 96px;
    font-size: 96px;
    font-weight: 300;
    line-height: 96px;
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    margin-bottom: 16px;
  }

  .buttonsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  button {
    width: 87.5px;
    height: 72px;
    padding: 12px;
    border-radius: 24px;
    gap: 16px;
    border: none;
    cursor: pointer;
    background-color: $color-white;
    color: $color-black;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }

  .buttonsGrid > button:nth-child(-n + 4) {
    background-color: $color-light-gray;
  }
  .buttonsGrid > button:nth-child(4n) {
    background-color: $color-primary;
    color: $color-white;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    transform: scale(0.98);
  }
}
