.wrapper {
  width: 100%;
  display: flex;
  gap: 29px;
  & > div {
    width: 100%;
    max-width: 550px;
  }
  @media screen and (max-width: 720px) {
    flex-direction: column;
  }
}

.countInput {
  margin-bottom: 13px;
}

.checkboxes {
  margin-bottom: 16px;
  & > {
    padding: 3px 0;
  }
}
